{% extends 'main.html' %}
{% block content %}
<style>
    .card-container {
      margin-top: 20px; /* Add margin from the top */
    }
  
    .card {
      transition: transform 0.3s ease; /* Add transition for smooth effect */
    }
  
    .card:hover {
      transform: scale(1.05); /* Scale up on hover */
    }
  </style>
<section class="bg-gray-100 py-16">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold text-gray-800 mb-4">Start Shopping</h2>
        <p class="text-lg text-gray-600">Explore our wide range of products and find what you need.</p>
        <a href="#" class="mt-6 inline-block bg-teal-600 text-white py-3 px-8 rounded-lg text-lg font-semibold hover:bg-teal-700 transition">Shop Now</a>
    </div>
</section>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 card-container">
    <!-- Card 1 -->
    {% for product in products %}
    <a href="#" class="group relative block">
      <div class="relative h-[250px] sm:h-[350px] card">
        <img
          src="https://images.unsplash.com/photo-1593795899768-947c4929449d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80"
          alt=""
          class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0"
        />
  
        <img
          src="https://images.unsplash.com/photo-1593795899630-b6033c0fa58d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
          alt=""
          class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100"
        />
      </div>
  
      <div class="absolute inset-0 flex flex-col items-start justify-end p-6 bg-black bg-opacity-50 transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100">
        <h3 class="text-xl font-medium text-white">{{ product.name }}</h3>
  
        <p class="mt-1.5 text-pretty text-xs text-white">
         {{ product.descriptions }}
        </p>
  
        <span
          class="mt-3 inline-block bg-white px-5 py-3 text-xs font-medium uppercase tracking-wide text-black"
        >
          Shop Now
        </span>
      </div>
    </a>
    {% endfor %}
  </div>
  
  
{% endblock %}